In [22]:
import pandas as pd
import pyodbc

In [23]:
conn=pyodbc.connect( 
                       'HOST=localhost;'
                       'DATABASE=django;'
                       'UID=root;'
                       'PWD=tiger;'
                       )
query="SELECT * FROM professor"
output=pd.read_sql(query,conn)

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [17]:
import mysql.connector as sql

import pandas as pd

db_connection = sql.connect(host='localhost', database='django', user='root', password='tiger')

db_cursor = db_connection.cursor()

db_cursor.execute('SELECT * FROM professor where DEPT_ID=2')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

In [18]:
df[1]=df[1].str.strip()

In [21]:
df

    0                1  2      3
0   5      Nicole Gome  2  30860
1  10  Matthew Stevens  2  26648

In [15]:
query

NameError: name 'query' is not defined

In [20]:
table_rows

[(5, 'Nicole Gome', '2', 30860), (10, 'Matthew Stevens', '2', 26648)]