In [129]:
import pandas as pd

In [130]:
from sklearn.preprocessing import StandardScaler

In [131]:
ss=StandardScaler()

In [135]:
df=pd.read_csv("Car_sales.csv",usecols=["Sales_in_thousands","__year_resale_value","Price_in_thousands","Horsepower"])
df.head()

   Sales_in_thousands  __year_resale_value  Price_in_thousands  Horsepower
0              16.919               16.360               21.50       140.0
1              39.384               19.875               28.40       225.0
2              14.114               18.225                 NaN       225.0
3               8.588               29.725               42.00       210.0
4              20.397               22.255               23.99       150.0

In [138]:
df_scld=pd.DataFrame(ss.fit_transform(df))

In [139]:
df_scld

            0         1         2         3
0   -0.532042 -0.150182 -0.411789 -0.812988
1   -0.200761  0.157990  0.070551  0.690949
2   -0.573406  0.013329       NaN  0.690949
3   -0.654896  1.021574  1.021248  0.425549
4   -0.480754  0.366653 -0.237727 -0.636055
..        ...       ...       ...       ...
152 -0.729263       NaN -0.209066 -0.459121
153 -0.556728       NaN  0.007637 -0.317574
154 -0.523017       NaN  0.098512 -0.317574
155 -0.730030       NaN  1.265913  0.885577
156 -0.501812       NaN  0.601823  0.266308

[157 rows x 4 columns]

In [161]:
for i in range(4):
    for j in range(i+1):
        print(i,end="  ")
    print("\n")

0

1  1

2  2  2

3  3  3  3

In [159]:
for i in range(0,1):
    for j in range(i+1):
        print("*",end="  ")
    print("\n")

*

In [148]:
for i in range(4):
    print(i)

0
1
2
3

In [156]:
def pypart(n):
     
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ",end="")
      
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *