In [1]:
%matplotlib inline
import pandas as pd

In [4]:
%%time
cast = pd.read_csv('cast.csv')
cast.head()

Wall time: 8.23 s

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [15]:
cast.shape

(3611212, 6)

### How many movies are listed in the titles dataframe?

In [10]:
cast.title.nunique()

172294

### What are the earliest two films listed in the titles dataframe?

In [18]:
cast.sort_values("year",axis=0)[:2]

,title,year,name,type,character,n
2514470,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN

### How many movies have the title "Hamlet"?

In [24]:
cast[cast.title=='Hamlet'].shape[0]

313

In [22]:
len(cast[cast.title=='Hamlet'])

313

### How many movies are titled "North by Northwest"?

In [25]:
cast[cast.title=='North by Northwest'].shape[0]

112

### When was the first movie titled "Hamlet" made?

In [37]:
cast[cast.title=='Hamlet'].sort_values("year",axis=0)[:1]

          title  year               name   type character   n
1545289  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [41]:
cast[cast.title=='Treasure Island'].sort_values("year")

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
2420089,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1637661,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1375015,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
1797264,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
307749,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [42]:
cast[cast.year==1950].shape[0]

22006

### How many movies were made in the year 1960?

In [44]:
cast[cast.year==1960].shape[0]

18456

### How many movies were made from 1950 through 1959?

In [56]:
m1=cast.year >=1950
m2=cast.year <=1959

In [63]:

cast[m1 & m2].sort_values("year")

,title,year,name,type,character,n
3611137,Akdeniz korsanlari,1950,Muazzez ?lkerer,actress,Maria,2.0
2765827,A Modern Marriage,1950,Dian Fauntelle,actress,Secretary,16.0
817351,Jiggs and Maggie Out West,1950,Pat Goldin,actor,Dugan,7.0
2764992,Two Weeks with Love,1950,Betty Farrington,actress,Customer,NaN
817363,The Baron of Arizona,1950,Pat Goldin,actor,Diminutive Franciscan Monk,NaN
...,...,...,...,...,...,...
3075639,Match contre la mort,1959,Antonella Lualdi,actress,Annie Lourmel,2.0
507801,"Tarzan, the Ape Man",1959,Cesare Danova,actor,Harry Holt,2.0
507805,The Man Who Understood Women,1959,Cesare Danova,actor,Major Marco Ranieri,3.0
508378,Nra yerevakayutyune,1959,H. Danzas,actor,Juggler,23.0
1400932,El regreso del monstruo,1959,Arturo Mart?nez,actor,Dr. Kracken,5.0

### In what years has a movie titled "Batman" been released?

In [69]:
list(cast[cast.title=="Batman"]["year"])

[1943,
 1943,
 1989,
 1989,
 1989,
 1989,
 1989,
 1943,
 1943,
 1989,
 1943,
 1989,
 1989,
 1989,
 1943,
 1943,
 1989,
 1943,
 1989,
 1989,
 1943,
 1943,
 1989,
 1943,
 1989,
 1989,
 1989,
 1943,
 1943,
 1943,
 1943,
 1943,
 1989,
 1943,
 1989,
 1989,
 1943,
 1989,
 1989,
 1989,
 1943,
 1989,
 1943,
 1943,
 1943,
 1989,
 1943,
 1943,
 1989,
 1989,
 1989,
 1989,
 1943,
 1989,
 1943,
 1943,
 1943,
 1943,
 1943,
 1989,
 1989,
 1989,
 1989,
 1989,
 1943,
 1943,
 1989,
 1943,
 1989,
 1989,
 1989,
 1943,
 1943,
 1943,
 1989,
 1989,
 1989,
 1943,
 1943,
 1943,
 1943,
 1989,
 1989,
 1943,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1943,
 1943,
 1989,
 1989,
 1943,
 1989,
 1943,
 1943,
 1943,
 1989,
 1943,
 1943,
 1943,
 1943,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1989,
 1943,
 1989,
 1989,
 1989]

### How many roles were there in the movie "Inception"?

In [79]:
cast[cast.title=='Inception']["character"].nunique()

55

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [105]:
cast[cast.n.isnull()][cast.title=="Inception"].character.nunique()

<ipython-input-105-86ecdc313e4f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.n.isnull()][cast.title=="Inception"].character.nunique()

20

### But how many roles in the movie "Inception" did receive an "n" value?

In [106]:
cast[cast.n.notnull()][cast.title=="Inception"].character.nunique()

<ipython-input-106-5a1f48062c36>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.n.notnull()][cast.title=="Inception"].character.nunique()

36

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [110]:
cast[cast.n.notnull()][cast.title=="North by Northwest"].sort_values("n")

<ipython-input-110-84cefeabae3d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.n.notnull()][cast.title=="North by Northwest"].sort_values("n")

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [114]:
cast[cast.title=='Sleuth'][cast.year==1972].sort_values("n")

<ipython-input-114-122850c54598>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.title=='Sleuth'][cast.year==1972].sort_values("n")

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [115]:
cast[cast.title=='Sleuth'][cast.year==2007].sort_values("n")

<ipython-input-115-2323b5fa5ede>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.title=='Sleuth'][cast.year==2007].sort_values("n")

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [121]:
cast[cast.title=='Hamlet'][cast.year==1921].character.nunique()

<ipython-input-121-6aa366c58dea>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[cast.title=='Hamlet'][cast.year==1921].character.nunique()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [144]:
mask=cast["name"].str.contains("Branagh")
cast[mask][(cast.title=="Hamlet") & (cast.year==1996)].character.nunique()

<ipython-input-144-4ebbbd4f5fa5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast[mask][(cast.title=="Hamlet") & (cast.year==1996)].character.nunique()

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [145]:
cast[cast.title=="Hamlet"].character.nunique()

107

### How many people have played an "Ophelia"?

In [150]:
cast[cast.character=="Ophelia"].name.nunique()

109

### How many people have played a role called "The Dude"?

In [156]:
cast[cast.character=="The Dude"].name.nunique()

18

### How many people have played a role called "The Stranger"?

In [157]:
cast[cast.character=="The Stranger"].name.nunique()

197

### How many roles has Sidney Poitier played throughout his career?

In [160]:
cast[cast.name=="Sidney Poitier"].character.nunique()

41

### How many roles has Judi Dench played?

In [161]:
cast[cast.name=="Judi Dench"].character.nunique()

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [165]:
cast[(cast.name=="Cary Grant") & (cast.year==1940) & (cast.n==2)]

                   title  year        name   type character    n
840371  My Favorite Wife  1940  Cary Grant  actor      Nick  2.0

In [166]:
cast[(cast.name=="Cary Grant") & (cast.year==1940) & (cast.n==2)].character

840371    Nick
Name: character, dtype: object

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [168]:
cast[(cast.name=="Cary Grant") & (cast.year==1940) ].sort_values("year")

,title,year,name,type,character,n
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

In [170]:
list(cast[(cast.name=="Cary Grant") & (cast.year==1940) ].sort_values("year").character)

['Walter Burns', 'Nick', 'Matt Howard', 'C. K. Dexter Haven']

### How many roles were available for actors in the 1950s?

In [171]:
cast[(cast.type=="actor") & (cast.year==1950)]

,title,year,name,type,character,n
266,Palletoori Pilla,1950,Subba Rao A.V.,actor,Kampanna Dora,4.0
429,Hallin Janne,1950,Kosti Aaltonen,actor,Rosvo,NaN
430,Hallin Janne,1950,Kosti Aaltonen,actor,Vartija,NaN
1481,Fortunes of Captain Blood,1950,Abdullah Abbas,actor,Crew Member,NaN
1497,The Baron of Arizona,1950,Abdullah Abbas,actor,Indian,NaN
...,...,...,...,...,...,...
2439128,Restaurant Intim,1950,Steinar ?ster,actor,Cook,NaN
2439164,Den vita katten,1950,Alf ?stlund,actor,Ticket Collector,15.0
2439166,Flicka och hyacinter,1950,Alf ?stlund,actor,Viktor Ekberg,NaN
2439170,Medan staden sover,1950,Alf ?stlund,actor,Andersson,NaN
2439172,Restaurant Intim,1950,Alf ?stlund,actor,Manager Nessing,15.0

In [176]:
len(cast[(cast.type=="actor") & (cast.year==1950)].character.unique())

11117

### How many roles were available for actresses in the 1950s?

In [178]:
len(cast[(cast.type=="actress") & (cast.year==1950)].character.unique())

4052

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [184]:
cast.sort_values("year")[(cast.year<=1980) & (cast.n==1)].character.nunique()

<ipython-input-184-9fa08a9f5f6b>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast.sort_values("year")[(cast.year<=1980) & (cast.n==1)].character.nunique()

51200

### How many non-leading roles were available through from the beginning of film history through 1980?

In [185]:
cast.sort_values("year")[(cast.year<=1980) & (cast.n!=1)].character.nunique()

<ipython-input-185-d878c02207cd>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast.sort_values("year")[(cast.year<=1980) & (cast.n!=1)].character.nunique()

558711

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [203]:
cast.sort_values("year")[(cast.n.isnull()) & (cast.year<=1980) ].character.nunique()

<ipython-input-203-d1fa39927e8d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cast.sort_values("year")[(cast.n.isnull()) & (cast.year<=1980) ].character.nunique()

186116