In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Students.csv")

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
train,test=train_test_split(df,test_size=0.3,random_state=1274)

In [6]:
train.head()

       JEEPRE   JEEMAINS  STATUS
72  72.346494  96.227593       1
95  83.489163  48.380286       1
61  35.286113  47.020514       0
10  95.861555  38.225278       0
66  40.457551  97.535185       1

In [10]:
x_train=train[["JEEPRE","JEEMAINS"]]
y_train=train["STATUS"]

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
log=LogisticRegression()

In [13]:
mod=log.fit(x_train,y_train)

In [14]:
mod.score(x_train,y_train)

0.8857142857142857

In [15]:
x_test=test[["JEEPRE","JEEMAINS"]]
y_test=test["STATUS"]

In [16]:
pred=mod.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [18]:
accuracy=accuracy_score(y_test,pred)

In [19]:
accuracy

0.9333333333333333

In [20]:
confusion_matrix(y_test,pred)

array([[11,  1],
       [ 1, 17]], dtype=int64)