In [1]:
import pandas as pd

In [3]:
df1=pd.read_excel('df1.xlsx')

In [4]:
df1.head()

,IP Address,AddressSource,LeaseTimeRemaining,MACAddress,HostName,InterfaceType,Layer2interface,Active,LastActive,IPv6AddressNumberofEntries,IPv6Address
0,NaN,Static,0,a8:5e:45:6b:e7:93,Unknown,Ethernet,1,0,Mon,0,NaN
1,NaN,DHCP,0,a8:5e:45:6b:e7:93,iphone,802.11,2,0,Tue,0,NaN
2,NaN,DHCP,0,a8:5e:45:6b:e7:93,Carlosple,802.11,3,0,Wed,0,NaN
3,NaN,DHCP,0,a8:5e:45:6b:e7:93,iphone,802.11,1,0,Thus,0,NaN
4,NaN,DHCP,0,a8:5e:45:6b:e7:93,iphone,802.11,5,0,Fri,0,NaN

In [5]:
df1.shape

(30, 11)

In [6]:
df2=pd.read_excel('df2.xlsx')

In [7]:
df2.head()

,AssociadeviceAuthenticationState,AssociatedDeviceConnectionType,AssociatedDeviceIPAddress,AssociatedDecviceMacAddress,AssociatedDeviceMeshClient,LastDataTransmit,Stat_number,ByteReceived,ByteSent,count,Disassociated,packetRecives,PacketsentRSSI,SingalStrenght,Devicetype,ErrorSent,TimeAss
0,1,NaN,"192.168,1,75",d8:f1:5b:84:ff:bb,No,72222,96,135000,15000,0,0,396,22805230,-49,49,Unknown,6127901

In [8]:
df2.shape

(1, 17)

In [10]:
mrg=pd.merge(df1,df2,how='left',left_on=['MACAddress','Active'],right_on=['AssociatedDecviceMacAddress','AssociadeviceAuthenticationState'])

In [13]:
mrg.to_excel('MergeOutput.xlsx',index=False, sheet_name='output')