In [1]:
import pandas as pd

In [9]:
df=pd.read_csv("ProductHierarchy.csv",header=1)
df.head()

,Master_SKU_Code,at_Master_SKU_Desc,Sub_Brand_Code,at_Sub_Brand_Desc,CPG,at_CPG_Desc,Sector,at_Sector_Desc,Brand_Code,at_Brand_Desc,...,at_Company_Desc,TOP_Code,at_TOP_Desc,at_Grammage,at_UOM,at_Plant,at_Currency,at_Tax_Regime,at_CARAT_ULCODE,at_Material_Code
0,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68306198
1,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68462089
2,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68514744
3,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,67944902
4,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68306193

In [26]:
df.shape

(2172, 29)

In [16]:
(list(df.columns)[:18])

['Master_SKU_Code',
 'at_Master_SKU_Desc',
 'Sub_Brand_Code',
 'at_Sub_Brand_Desc',
 'CPG',
 'at_CPG_Desc',
 'Sector',
 'at_Sector_Desc',
 'Brand_Code',
 'at_Brand_Desc',
 'Market_Code',
 'at_Market_Desc',
 'Category_Code',
 'at_Category_Desc',
 'Sub_Division_Code',
 'at_Sub_Division_Desc',
 'Division_Code',
 'at_Division_Desc']

In [27]:
df_new=df.iloc[:,:18]

In [28]:
df_new

,Master_SKU_Code,at_Master_SKU_Desc,Sub_Brand_Code,at_Sub_Brand_Desc,CPG,at_CPG_Desc,Sector,at_Sector_Desc,Brand_Code,at_Brand_Desc,Market_Code,at_Market_Desc,Category_Code,at_Category_Desc,Sub_Division_Code,at_Sub_Division_Desc,Division_Code,at_Division_Desc
0,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
1,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
2,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
3,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
4,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167,6A42A475995213601,DOMEX TOILET THICK BLEACH GREEN 500ML,6A42A4759952136,DOMEX TOILET THICK B,6A42A47599521,DOMEX TOILET THICK B,6A42A475995,HARD SURFACE CLEANER,6A42A4759,DOMEX,6A42A4,HOUSEHOLD CLEANING,6A42,HOME & HYGIENE,6A,HOME CARE,6,HOME CARE
2168,6A42A409895380901,JIF MCRO M/P N/ABR CL PINE BREEZE 750ML,6A42A4098953809,JIF MICRO M/P N/ABR,6A42A40989538,JIF MICRO M/P N/ABR,6A42A409895,HARD SURFACE CLEANER,6A42A4098,JIF (HC&BPC),6A42A4,HOUSEHOLD CLEANING,6A42,HOME & HYGIENE,6A,HOME CARE,6,HOME CARE
2169,6A42A409895381401,JIF MCRO M/P N/ABR CL LEMON BREEZE 750ML,6A42A4098953814,JIF MICRO M/P N/ABR,6A42A40989538,JIF MICRO M/P N/ABR,6A42A409895,HARD SURFACE CLEANER,6A42A4098,JIF (HC&BPC),6A42A4,HOUSEHOLD CLEANING,6A42,HOME & HYGIENE,6A,HOME CARE,6,HOME CARE
2170,6A43B3A48U1216202,PUREIT BW SP WATER PUR EXCLA SDMNT 1PC,6A43B3A48U12162,PUREIT BW SP WATER P,6A43B3A48U121,PUREIT BIOCIDE WATER,6A43B3A48U1,WATER PURIFIERS SPAR,6A43B3A48,PUREIT,6A43B3,WATER PURIFICATION,6A43,WATER & AIR WELLNESS,6A,HOME CARE,6,HOME CARE
2171,6A43B3A48SZ140101,PUREIT BIOCIDE WATR PUR GERMKILL KIT 1PC,6A43B3A48SZ1401,PUREIT BIOCIDE WATER,6A43B3A48SZ14,PUREIT BIOCIDE WATER,6A43B3A48SZ,WATER PURIFIERS SYST,6A43B3A48,PUREIT,6A43B3,WATER PURIFICATION,6A43,WATER & AIR WELLNESS,6A,HOME CARE,6,HOME CARE

In [29]:
list(df_new)

['Master_SKU_Code',
 'at_Master_SKU_Desc',
 'Sub_Brand_Code',
 'at_Sub_Brand_Desc',
 'CPG',
 'at_CPG_Desc',
 'Sector',
 'at_Sector_Desc',
 'Brand_Code',
 'at_Brand_Desc',
 'Market_Code',
 'at_Market_Desc',
 'Category_Code',
 'at_Category_Desc',
 'Sub_Division_Code',
 'at_Sub_Division_Desc',
 'Division_Code',
 'at_Division_Desc']

In [34]:
df_new.groupby('Master_SKU_Code').get_group('441741B84B6010A02')

,Master_SKU_Code,at_Master_SKU_Desc,Sub_Brand_Code,at_Sub_Brand_Desc,CPG,at_CPG_Desc,Sector,at_Sector_Desc,Brand_Code,at_Brand_Desc,Market_Code,at_Market_Desc,Category_Code,at_Category_Desc,Sub_Division_Code,at_Sub_Division_Desc,Division_Code,at_Division_Desc
0,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
1,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
2,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA

In [121]:
df_new.head()

,Master_SKU_Code,at_Master_SKU_Desc,Sub_Brand_Code,at_Sub_Brand_Desc,CPG,at_CPG_Desc,Sector,at_Sector_Desc,Brand_Code,at_Brand_Desc,Market_Code,at_Market_Desc,Category_Code,at_Category_Desc,Sub_Division_Code,at_Sub_Division_Desc,Division_Code,at_Division_Desc
0,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
1,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
2,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
3,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA
4,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,441741,WASH & CARE,4417,HAIR CARE,44,BEAUTY & PERSONAL CA,4,BEAUTY & PERSONAL CA

In [127]:
df_new.groupby("Master_SKU_Code").agg({"at_Master_SKU_Desc":'nunique'})

                   at_Master_SKU_Desc
Master_SKU_Code
3.10278E+16                         1
3.10985E+16                         2
3.10986E+16                        14
3102050131N46BZ13                   1
3102050131N46D811                   1
...                               ...
6A42A475995200201                   1
6A42A475995200204                   1
6A42A475995213601                   1
6A43B3A48SZ140101                   1
6A43B3A48U1216202                   1

[703 rows x 1 columns]

In [128]:
ess="I have been working here for past 1 year and were able to contribute my knowledge for the on time task accomplishment and got better business understanding and excellent hands-on with relational databases like MySQL, Python programming, QlikView and tableau."

In [129]:
len(ess)

258

In [ ]:
pd.set_option()

# first N prime numbers

In [43]:
def func(n):
    num=2
    count=0
    while count!=n:
        f=0
        for i in range(1,num+1):
            if num%i==0:
                f=f+1
        if f==2:
            print(num)
            count=count+1
        num=num+1

In [44]:
func(5)

2
3
5
7
11

# Armstrong number

In [54]:
153== 1**3+5**3+3**3

True

In [74]:
def num(n):
    sf=n
    sm=0
    while n!=0:
        rem=n%10
        sm=sm+rem**3
        n=math.floor(n/10)
    if sm==sf:
        return True
    else:
        return False

In [78]:
num(407)

True

In [57]:
import math

In [58]:
math.floor(153/10)

15

In [60]:
15/10

1.5

In [61]:
1/10

0.1

In [62]:
math.floor(1/10)

0

In [79]:
from flask import Flask

In [82]:
%tb
app=Flask(__name__)

@app.route("/")
def new():
    return "Hello"

if __name__=='__main__':
    app.run(debug=True)

SystemExit: 1

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with windowsapi reloader

SystemExit: 1

In [85]:
list(map(lambda x: x*x,range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
l=[1,2,3,4]

In [89]:
    df.head()

,Master_SKU_Code,at_Master_SKU_Desc,Sub_Brand_Code,at_Sub_Brand_Desc,CPG,at_CPG_Desc,Sector,at_Sector_Desc,Brand_Code,at_Brand_Desc,...,at_Company_Desc,TOP_Code,at_TOP_Desc,at_Grammage,at_UOM,at_Plant,at_Currency,at_Tax_Regime,at_CARAT_ULCODE,at_Material_Code
0,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68306198
1,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68462089
2,441741B84B6010A02,CLEAR SHAMPOO BLACK SHINE 400ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68514744
3,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,67944902
4,441741B84B6010A05,CLEAR SHAMPOO BLACK SHINE 185ML,441741B84B6010A,CLEAR SHAMPOO BLACK,441741B84B601,CLEAR SHAMPOO,441741B84B6,SHAMPOO/2IN1,441741B84,CLEAR,...,UPL,TC,TOTAL COMPANY,NaN,NaN,NaN,NaN,NaN,CH2048,68306193

In [90]:
df.at_Sub_Brand_Desc.apply(lambda x : x.split())

0          [CLEAR, SHAMPOO, BLACK]
1          [CLEAR, SHAMPOO, BLACK]
2          [CLEAR, SHAMPOO, BLACK]
3          [CLEAR, SHAMPOO, BLACK]
4          [CLEAR, SHAMPOO, BLACK]
                   ...
2167     [DOMEX, TOILET, THICK, B]
2168      [JIF, MICRO, M/P, N/ABR]
2169      [JIF, MICRO, M/P, N/ABR]
2170    [PUREIT, BW, SP, WATER, P]
2171      [PUREIT, BIOCIDE, WATER]
Name: at_Sub_Brand_Desc, Length: 2172, dtype: object

In [91]:
list(filter(lambda x:x%2==0,range(10)))

[0, 2, 4, 6, 8]

In [92]:
a="hi hello"

In [108]:
l=[]
for i in range(len(a)):
    l.append(a[i])
l.reverse()
print("".join(l))

olleh ih

In [109]:
sset=set()

In [114]:
sset.add(1)

In [115]:
sset

{1}

In [116]:
sset.add(2)

In [117]:
sset

{1, 2}

In [118]:
sset.add(1)

In [119]:
sset

{1, 2}

In [1]:
import pandas as pd

In [7]:
#utf-8
pd.read_csv("C:\Documents\Pandas\Projects\pandas\Test\sms.txt",sep='\t',names=["type","msg"])

      type                                                msg
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]