In [2]:
import pandas as pd
import datetime  as dt

# Review of python datetime module

In [4]:
dt.date(1998,11,15)#date

datetime.date(1998, 11, 15)

In [53]:
date=dt.date(1998,11,15)
date

datetime.date(1998, 11, 15)

In [8]:
date.today()

datetime.date(2021, 8, 2)

In [10]:
date.month

11

In [11]:
date.year

1998

In [12]:
date.day

15

In [15]:

dt.datetime(1998,11,15)#datetime#midnight default 0 0 0

datetime.datetime(1998, 11, 15, 0, 0)

In [23]:

time=dt.datetime(1998,11,15,8,13,12)#datetime

In [24]:

str(dt.datetime(1998,11,15,8,13,12))#datetime

'1998-11-15 08:13:12'

In [25]:
time.hour

8

In [26]:
time.second

12

In [27]:
time.minute

13

# The pandas timestamp object

In [28]:
pd.Timestamp("2015-03-31")#########Single moment in time

Timestamp('2015-03-31 00:00:00')

In [29]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [30]:
pd.Timestamp("2013,11,04")

Timestamp('2013-04-01 00:00:00')

In [31]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [32]:
pd.Timestamp("19/12/2018")

Timestamp('2018-12-19 00:00:00')

In [33]:
pd.Timestamp("19'10'2019")

Timestamp('2019-10-19 00:00:00')

In [34]:
pd.Timestamp("12-19-2009")

Timestamp('2009-12-19 00:00:00')

In [46]:
pd.Timestamp("2012-12-10 8:54:14 PM")

Timestamp('2012-12-10 20:54:14')

In [47]:
pd.Timestamp("2012-10-12 8:43:23 am")

Timestamp('2012-10-12 08:43:23')

In [51]:
pd.Timestamp(dt.date(2018,12,10))

Timestamp('2018-12-10 00:00:00')

In [55]:
pd.Timestamp(dt.datetime(2019,12,12,13,21))

Timestamp('2019-12-12 13:21:00')

# The pandas DateTime index object

In [61]:
dates=["2016-01-02","2016-04-12","2009-02-10"]######to set as index of another series or DF
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-02-10'], dtype='datetime64[ns]', freq=None)

In [62]:
dates=["2016-01-02 12:30","2016-04-12","2009-02-10"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02 12:30:00', '2016-04-12 00:00:00',
               '2009-02-10 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [57]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [65]:
dates2=[dt.date(2016,11,12),dt.date(2015,10,25),dt.date(2013,5,21)]
valindex=pd.DatetimeIndex(dates2)
valindex

DatetimeIndex(['2016-11-12', '2015-10-25', '2013-05-21'], dtype='datetime64[ns]', freq=None)

In [67]:
val=[10,22,300]
pd.Series(val)

0     10
1     22
2    300
dtype: int64

In [66]:
val=[10,22,300]
pd.Series(val,index=valindex)

2016-11-12     10
2015-10-25     22
2013-05-21    300
dtype: int64

# the pd.to_datetime() methyod

In [68]:
pd.to_datetime("2018,10,12")

Timestamp('2018-12-01 00:00:00')

In [70]:
pd.to_datetime(dt.date(2018,10,12))

Timestamp('2018-10-12 00:00:00')

In [75]:
pd.to_datetime(dt.datetime(2018,10,12,11,25,20))

Timestamp('2018-10-12 11:25:20')

In [82]:
pd.to_datetime(["2014-5-02","2102/2/5","2015","July 4th 2000"])#any format # list to datetime

DatetimeIndex(['2014-05-02', '2102-02-05', '2015-01-01', '2000-07-04'], dtype='datetime64[ns]', freq=None)

In [87]:
timseries=pd.Series(["2014-5-02","2102/2/5","2015","July 4th 2000"])
timseries

0        2014-5-02
1         2102/2/5
2             2015
3    July 4th 2000
dtype: object

In [89]:
pd.to_datetime(timseries)####series to datetime

0   2014-05-02
1   2102-02-05
2   2015-01-01
3   2000-07-04
dtype: datetime64[ns]

In [93]:
funky=pd.Series(["july th 1992","10/11/1990","HEllo","2015-02-31"])
funky

0    july th 1992
1      10/11/1990
2           HEllo
3      2015-02-31
dtype: object

In [96]:
pd.to_datetime(funky,errors="coerce")#TO REMOVE INVALID ADTE FORMATS ##NAT

0   1992-07-01
1   1990-10-11
2          NaT
3          NaT
dtype: datetime64[ns]

In [99]:
 pd.to_datetime([1349720105],unit='s')#time in seconds

DatetimeIndex(['2012-10-08 18:15:05'], dtype='datetime64[ns]', freq=None)

# Crete a range of dates with.date_range() method part -1

In [109]:
times=pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")#####incrementy by one day D

In [104]:
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [105]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [106]:
times[1]

Timestamp('2016-01-02 00:00:00', freq='D')

In [107]:
type(times[1])

pandas._libs.tslibs.timestamps.Timestamp

In [112]:
times2=pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")#####incrementy by two days 2D
times2

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [114]:
times2=pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")#####incrementy by two Business days B
times2

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [115]:
times2=pd.date_range(start="2016-01-01",end="2016-01-10",freq="W")#####show by Sundaay W
times2

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [117]:
times2=pd.date_range(start="2016-01-01",end="2016-01-10",freq="W-FRI")#####show by Friday W-FRI
times2

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [124]:
times2=pd.date_range(start="2016-01-01",end="2016-01-10",freq="H")#####incrementy by hours
times2

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [125]:
times2=pd.date_range(start="2016-01-01",end="2016-12-10",freq="M")#####show month end
times2

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [127]:
times2=pd.date_range(start="2016-01-01",end="2017-01-10",freq="MS")#####show month start
times2

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [131]:
times2=pd.date_range(start="2016-01-01",end="2040-01-10",freq="A")#####show year end
times2

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Crete a range of dates with.date_range() method part -2

In [133]:
pd.date_range(start="2012-09-09",periods=3,freq="M")

DatetimeIndex(['2012-09-30', '2012-10-31', '2012-11-30'], dtype='datetime64[ns]', freq='M')

In [136]:
pd.date_range(start="2012-09-09",periods=25,freq="D")###25 DAYS

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [138]:
pd.date_range(start="2012-09-09",periods=50,freq="d")##50 DAYS

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03', '2012-10-04', '2012-10-05', '2012-10-06',
               '2012-10-07', '2012-10-08', '2012-10-09', '2012-10-10',
               '2012-10-11', '2012-10-12', '2012-10-13', '2012-10-14',
               '2012-10-15', '2012-10-16', '2012-10-17', '2012-10-18',
               '2012-10-19', '2012-10-20', '2012-10-21', '2012-10-22',
               '2012-10-23', '2012-10-24', '2012-10-25', '2012-10-26',
               '2012-10-27', '2012-10-28'],
              dtype='datetime64[ns]', freq='D')

In [141]:
pd.date_range(start="2012-09-09",periods=50,freq="B")#50  business days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

# Crete a range of dates with.date_range() method part -3

In [142]:
pd.date_range(end="1999-09-09",periods=20,freq="D")#50  business days

DatetimeIndex(['1999-08-21', '1999-08-22', '1999-08-23', '1999-08-24',
               '1999-08-25', '1999-08-26', '1999-08-27', '1999-08-28',
               '1999-08-29', '1999-08-30', '1999-08-31', '1999-09-01',
               '1999-09-02', '1999-09-03', '1999-09-04', '1999-09-05',
               '1999-09-06', '1999-09-07', '1999-09-08', '1999-09-09'],
              dtype='datetime64[ns]', freq='D')

In [143]:
pd.date_range(end="1999-09-09",periods=20,freq="W")#50  business days

DatetimeIndex(['1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05'],
              dtype='datetime64[ns]', freq='W-SUN')

same as above

# The .dt accessor

In [4]:
bunch=pd.date_range(start="2000-01-01",end="2002-12-31",freq="24D")
bunch

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04', '2000-08-28', '2000-09-21',
               '2000-10-15', '2000-11-08', '2000-12-02', '2000-12-26',
               '2001-01-19', '2001-02-12', '2001-03-08', '2001-04-01',
               '2001-04-25', '2001-05-19', '2001-06-12', '2001-07-06',
               '2001-07-30', '2001-08-23', '2001-09-16', '2001-10-10',
               '2001-11-03', '2001-11-27', '2001-12-21', '2002-01-14',
               '2002-02-07', '2002-03-03', '2002-03-27', '2002-04-20',
               '2002-05-14', '2002-06-07', '2002-07-01', '2002-07-25',
               '2002-08-18', '2002-09-11', '2002-10-05', '2002-10-29',
               '2002-11-22', '2002-12-16'],
              dtype='datetime64[ns]', freq='24D')

In [5]:
s=pd.Series(bunch)

In [150]:
s

0    2000-01-01
1    2000-01-25
2    2000-02-18
3    2000-03-13
4    2000-04-06
5    2000-04-30
6    2000-05-24
7    2000-06-17
8    2000-07-11
9    2000-08-04
10   2000-08-28
11   2000-09-21
12   2000-10-15
13   2000-11-08
14   2000-12-02
15   2000-12-26
16   2001-01-19
17   2001-02-12
18   2001-03-08
19   2001-04-01
20   2001-04-25
21   2001-05-19
22   2001-06-12
23   2001-07-06
24   2001-07-30
25   2001-08-23
26   2001-09-16
27   2001-10-10
28   2001-11-03
29   2001-11-27
30   2001-12-21
31   2002-01-14
32   2002-02-07
33   2002-03-03
34   2002-03-27
35   2002-04-20
36   2002-05-14
37   2002-06-07
38   2002-07-01
39   2002-07-25
40   2002-08-18
41   2002-09-11
42   2002-10-05
43   2002-10-29
44   2002-11-22
45   2002-12-16
dtype: datetime64[ns]

In [152]:
s.dt.day

0      1
1     25
2     18
3     13
4      6
5     30
6     24
7     17
8     11
9      4
10    28
11    21
12    15
13     8
14     2
15    26
16    19
17    12
18     8
19     1
20    25
21    19
22    12
23     6
24    30
25    23
26    16
27    10
28     3
29    27
30    21
31    14
32     7
33     3
34    27
35    20
36    14
37     7
38     1
39    25
40    18
41    11
42     5
43    29
44    22
45    16
dtype: int64

In [153]:
s.dt.month

0      1
1      1
2      2
3      3
4      4
5      4
6      5
7      6
8      7
9      8
10     8
11     9
12    10
13    11
14    12
15    12
16     1
17     2
18     3
19     4
20     4
21     5
22     6
23     7
24     7
25     8
26     9
27    10
28    11
29    11
30    12
31     1
32     2
33     3
34     3
35     4
36     5
37     6
38     7
39     7
40     8
41     9
42    10
43    10
44    11
45    12
dtype: int64

In [155]:
s.dt.month_name()

0       January
1       January
2      February
3         March
4         April
5         April
6           May
7          June
8          July
9        August
10       August
11    September
12      October
13     November
14     December
15     December
16      January
17     February
18        March
19        April
20        April
21          May
22         June
23         July
24         July
25       August
26    September
27      October
28     November
29     November
30     December
31      January
32     February
33        March
34        March
35        April
36          May
37         June
38         July
39         July
40       August
41    September
42      October
43      October
44     November
45     December
dtype: object

In [7]:
s.dt.weekday

0     5
1     1
2     4
3     0
4     3
5     6
6     2
7     5
8     1
9     4
10    0
11    3
12    6
13    2
14    5
15    1
16    4
17    0
18    3
19    6
20    2
21    5
22    1
23    4
24    0
25    3
26    6
27    2
28    5
29    1
30    4
31    0
32    3
33    6
34    2
35    5
36    1
37    4
38    0
39    3
40    6
41    2
42    5
43    1
44    4
45    0
dtype: int64

In [10]:
mask=s.dt.is_quarter_start
s[mask]

0    2000-01-01
19   2001-04-01
38   2002-07-01
dtype: datetime64[ns]

In [11]:
mask2=s.dt.is_month_end
s[mask2]

5   2000-04-30
dtype: datetime64[ns]

# import financial dataset with pandas datareader library

In [3]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

#### from pandas_datareader import data

In [15]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-02",end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.994564
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.002319
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.855013
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.606922
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.769743

In [18]:
stocks.values#numeric vals
stocks.index#dfatez

stocks.axes#both indices and colm names
stocks.columns#col names

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

# selectting rows from DF with datetimeIndex

In [19]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-02",end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.994564
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.002319
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.855013
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.606922
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.769743

In [21]:
stocks.loc["2010-01-04","High"]

31.100000381469727

In [26]:
stocks.loc["2010-01-04"]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.399456e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [25]:
stocks.loc[pd.Timestamp("2010/01/04")]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.399456e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [27]:
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.399456e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [28]:
stocks.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,221.726166
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,223.925995
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,223.119720
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,220.661072
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,221.397675

In [29]:
stocks.iloc[-1]

High         2.230000e+02
Low          2.196800e+02
Open         2.217000e+02
Close        2.224200e+02
Volume       2.094210e+07
Adj Close    2.213977e+02
Name: 2020-12-31 00:00:00, dtype: float64

In [30]:
stocks.loc[["2020-12-24","2020-12-28"]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,221.726166
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,223.925995

In [34]:
stocks.loc[[pd.Timestamp("2020-12-24"),pd.Timestamp("2020-12-28")]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,221.726166
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,223.925995

In [46]:
stocks.loc["2013-12-01":"2013-12-10"]#slicing

                 High        Low       Open      Close       Volume  Adj Close
Date
2013-12-02  38.779999  38.060001  38.090000  38.450001   42950400.0  33.093773
2013-12-03  38.490002  38.080002  38.139999  38.310001   52109800.0  32.973282
2013-12-04  38.980000  38.119999  38.209999  38.939999   51983600.0  33.515518
2013-12-05  38.880001  37.180000  38.849998  38.000000  116305000.0  32.706463
2013-12-06  38.549999  37.990002  38.419998  38.360001   36457300.0  33.016315
2013-12-09  38.869999  38.369999  38.560001  38.709999   30286000.0  33.317558
2013-12-10  38.900002  38.020000  38.610001  38.110001   37828600.0  32.801140

In [47]:
stocks.truncate("2013-12-01","2013-12-10")#pandas slicing

                 High        Low       Open      Close       Volume  Adj Close
Date
2013-12-02  38.779999  38.060001  38.090000  38.450001   42950400.0  33.093773
2013-12-03  38.490002  38.080002  38.139999  38.310001   52109800.0  32.973282
2013-12-04  38.980000  38.119999  38.209999  38.939999   51983600.0  33.515518
2013-12-05  38.880001  37.180000  38.849998  38.000000  116305000.0  32.706463
2013-12-06  38.549999  37.990002  38.419998  38.360001   36457300.0  33.016315
2013-12-09  38.869999  38.369999  38.560001  38.709999   30286000.0  33.317558
2013-12-10  38.900002  38.020000  38.610001  38.110001   37828600.0  32.801140

In [48]:
stocks.truncate(before="2013-12-01",after="2013-12-10")#pandas slicing

                 High        Low       Open      Close       Volume  Adj Close
Date
2013-12-02  38.779999  38.060001  38.090000  38.450001   42950400.0  33.093773
2013-12-03  38.490002  38.080002  38.139999  38.310001   52109800.0  32.973282
2013-12-04  38.980000  38.119999  38.209999  38.939999   51983600.0  33.515518
2013-12-05  38.880001  37.180000  38.849998  38.000000  116305000.0  32.706463
2013-12-06  38.549999  37.990002  38.419998  38.360001   36457300.0  33.016315
2013-12-09  38.869999  38.369999  38.560001  38.709999   30286000.0  33.317558
2013-12-10  38.900002  38.020000  38.610001  38.110001   37828600.0  32.801140

In [50]:
stocks.iloc[1000:1005]#exclusive

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.518703
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.914629
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.224472
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.095383
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  32.095383

In [59]:
bdays=pd.date_range(start="1998-11-15",end="2020-12-31",freq=pd.DateOffset(years=1))


########to get particukar dates fro every year\
bdays

DatetimeIndex(['1998-11-15', '1999-11-15', '2000-11-15', '2001-11-15',
               '2002-11-15', '2003-11-15', '2004-11-15', '2005-11-15',
               '2006-11-15', '2007-11-15', '2008-11-15', '2009-11-15',
               '2010-11-15', '2011-11-15', '2012-11-15', '2013-11-15',
               '2014-11-15', '2015-11-15', '2016-11-15', '2017-11-15',
               '2018-11-15', '2019-11-15', '2020-11-15'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [60]:
stockBirth=stocks.index.isin(bdays)

In [58]:
stocks[stockBirth]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-11-15,26.500000,26.170000,26.330000,26.200001,51794600.0,20.608459
2011-11-15,26.940001,26.400000,26.559999,26.740000,43874200.0,21.724670
2012-11-15,26.969999,26.629999,26.879999,26.660000,50955600.0,22.272234
2013-11-15,38.020000,37.720001,37.950001,37.840000,50601300.0,32.323608
2016-11-15,59.490002,58.320000,58.330002,58.869999,35904100.0,54.941162
2017-11-15,83.690002,82.690002,83.470001,82.980003,19383100.0,79.171318
2018-11-15,107.800003,103.910004,104.989998,107.279999,38505200.0,104.127869
2019-11-15,149.990005,148.270004,148.929993,149.970001,23485700.0,147.214905

In [63]:
stocks.loc[stockBirth]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-11-15,26.500000,26.170000,26.330000,26.200001,51794600.0,20.608459
2011-11-15,26.940001,26.400000,26.559999,26.740000,43874200.0,21.724670
2012-11-15,26.969999,26.629999,26.879999,26.660000,50955600.0,22.272234
2013-11-15,38.020000,37.720001,37.950001,37.840000,50601300.0,32.323608
2016-11-15,59.490002,58.320000,58.330002,58.869999,35904100.0,54.941162
2017-11-15,83.690002,82.690002,83.470001,82.980003,19383100.0,79.171318
2018-11-15,107.800003,103.910004,104.989998,107.279999,38505200.0,104.127869
2019-11-15,149.990005,148.270004,148.929993,149.970001,23485700.0,147.214905

In [64]:
stockBirth

array([False, False, False, ..., False, False, False])

# Time stamp object attributes and dmethod

In [121]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-02",end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.994564
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.002319
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.855013
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.606922
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.769743

In [67]:
stocks.index[200]

Timestamp('2010-10-19 00:00:00')

In [72]:
somday=stocks.index[500]
somday

Timestamp('2011-12-27 00:00:00')

In [74]:
somday.month

12

In [75]:
somday.day

27

In [77]:
somday.month_name()

'December'

In [79]:
somday.week#week inm the year

52

In [80]:
somday.is_month_end

False

In [81]:
somday.is_month_start

False

In [85]:
somday.is_quarter_end

False

In [86]:
somday.date

In [87]:
somday.date()

datetime.date(2011, 12, 27)

In [88]:
somday.day

27

In [90]:
somday.day_name()

'Tuesday'

In [131]:
stocks.index.day_name().head()#gives name sof each date as mondagty

AttributeError: 'Index' object has no attribute 'head'

In [108]:
stocks=stocks.drop("DAy name",axis=1)

In [ ]:
stocks.insert(0,"Day name",stocks.index.day_name())#implicit attachement##########column inserttion

In [125]:
stocks.head()

,Day name,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.994564
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.002319
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.855013
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.606922
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.769743

In [129]:
stocks.insert(1,"month start",stocks.index.is_month_start)

In [130]:
stocks.head()

,Day name,month start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.994564
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.002319
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.855013
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.606922
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.769743

In [134]:

stocks[stocks["month start"]]#########stocks list whose dat estarts on montn start####filtering

,Day name,month start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.025387
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.603508
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.712545
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.256563
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.120586
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,181.076721
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,202.736984
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25725500.0,225.634674
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,210.931229
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30904500.0,215.216232

# The pd.DateOffset object

In [4]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-02",end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.994564
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.002319
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.855013
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.606922
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.769743

In [7]:
stocks.index+5#increase date by five days

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [13]:
stocks.index+pd.DateOffset(days=5)
stocks.index=stocks.index-pd.DateOffset(days=5)

In [14]:
stocks.index=stocks.index+pd.DateOffset(weeks=3)

In [15]:
stocks.index

DatetimeIndex(['2010-01-15', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-22', '2010-01-23', '2010-01-24',
               '2010-01-25', '2010-01-26',
               ...
               '2020-12-28', '2020-12-29', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04', '2021-01-08', '2021-01-09',
               '2021-01-10', '2021-01-11'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [20]:
stocks.index=stocks.index+pd.DateOffset(years=1,months=1,days=5,hours=6,minutes=3)##adddign all
stocks.index.head()

AttributeError: 'DatetimeIndex' object has no attribute 'head'

# Timeseries Offsets

In [21]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-02",end="2020-12-31")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.994564
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.002319
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.855013
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.606922
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.769743

#### to increase the dates and reach to month end

In [25]:
#if already its month end then addds next month end
end=stocks.index+pd.tseries.offsets.MonthEnd()

In [29]:
#begin
begin=stocks.index+pd.tseries.offsets.MonthBegin()

### import module


from pandas.tseries import offsets

In [32]:
home=stocks.index+offsets.MonthBegin()

In [34]:
#to get business month end


end= stocks.index+offsets.BMonthEnd()

In [ ]:
#YearEnd()
#YearBegin()

# The timedelta Object

In [36]:
a=pd.Timestamp("2020/03/31")
b=pd.Timestamp("2020-03-20")
a
b
a

Timestamp('2020-03-31 00:00:00')

In [37]:
#substraction
a-b

Timedelta('11 days 00:00:00')

#### Birthday

In [39]:
a=pd.Timestamp("2020/08/03 4:35PM")
b=pd.Timestamp("1998-11-15")
a-b

Timedelta('7932 days 16:35:00')

In [40]:
b-a

Timedelta('-7933 days +07:25:00')

In [41]:
pd.Timedelta(days=7932)

Timedelta('7932 days 00:00:00')

In [43]:
b+pd.Timedelta(days=7932)##########adding the diff#hors weeks days mins seconds

Timestamp('2020-08-03 00:00:00')

In [ ]:
#not applicabkle for years

In [45]:
pd.Timedelta("5 minutes")############conversion

Timedelta('0 days 00:05:00')

In [49]:
pd.Timedelta("10 minutes 3 sec")############conversion

Timedelta('0 days 00:10:03')

# The timedelta in DataSet

In [55]:
com=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
com.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [54]:
com.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 11.7+ KB

In [57]:
delTime=com["delivery_date"]-com["order_date"]
delTime.head()

ID
1    257 days
2   2144 days
4    563 days
5   1948 days
7   1742 days
dtype: timedelta64[ns]

In [58]:
com["Delivery Time"]=delTime

In [59]:
com.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [63]:
com["delivery_date"]+com["Delivery Time"]#days in future 
com["Twice as long"]=com["delivery_date"]+com["Delivery Time"]#days in past i e shippinfg date

In [64]:
com.head()

   order_date delivery_date Delivery Time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [65]:
com.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as long     datetime64[ns]
dtype: object

In [69]:
mask=com["Delivery Time"]>"3000 days"
com[mask]

    order_date delivery_date Delivery Time Twice as long
ID
32  1990-01-20    1998-07-24     3107 days    2007-01-25
130 1990-04-02    1999-08-16     3423 days    2008-12-29
151 1991-01-29    1999-08-05     3110 days    2008-02-09
229 1990-04-13    1998-11-17     3140 days    2007-06-23
314 1990-03-07    1999-12-25     3580 days    2009-10-13
331 1990-09-18    1999-12-19     3379 days    2009-03-20
348 1990-02-27    1999-01-04     3233 days    2007-11-11
392 1990-12-24    1999-12-04     3267 days    2008-11-13
590 1990-03-25    1998-12-20     3192 days    2007-09-16
634 1991-04-04    1999-07-21     3030 days    2007-11-06
674 1990-03-16    1998-12-28     3209 days    2007-10-11
760 1990-09-16    1998-12-06     3003 days    2007-02-25
764 1990-09-19    1999-09-16     3284 days    2008-09-12
786 1990-10-26    1999-05-10     3118 days    2007-11-22
884 1990-01-20    1999-11-12     3583 days    2009-09-03
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03

In [71]:
mask=com["Delivery Time"]=="3003 days"
com[mask]

    order_date delivery_date Delivery Time Twice as long
ID
760 1990-09-16    1998-12-06     3003 days    2007-02-25

In [72]:
com["Delivery Time"].max()

Timedelta('3583 days 00:00:00')