In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df= pd.read_csv("train.csv",usecols=['X1','X2','X3','X4','X5','X5','X6'])

In [4]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [15]:
df.columns.unique().value_counts()

X1    1
X2    1
X3    1
X4    1
X5    1
X6    1
dtype: int64

In [17]:
len(df['X1'].unique())

27

In [23]:
#finding different column unique vlues counts

for col in df.columns:
    print(col, ':', len(df[col].unique()), 'Labels')

X1 : 27 Labels
X2 : 44 Labels
X3 : 7 Labels
X4 : 4 Labels
X5 : 29 Labels
X6 : 12 Labels

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4209 non-null   object
 1   X2      4209 non-null   object
 2   X3      4209 non-null   object
 3   X4      4209 non-null   object
 4   X5      4209 non-null   object
 5   X6      4209 non-null   object
dtypes: object(6)
memory usage: 197.4+ KB

In [40]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [31]:
df.shape

(4209, 6)

pd.get_dummies(df,drop_first=True)

pd.get_dummies(df,drop_first=False)

pd.get_dummies(df,drop_first=True)

In [33]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [36]:
np.sort(df['X1'].unique())

array(['a', 'aa', 'ab', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k',
       'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'y',
       'z'], dtype=object)

In [50]:
df['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [56]:
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [70]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [73]:
'''here we do have lot number of categorial features which gives
lot number of columns while soing onehot encoding which means
we need to follow another way which is selecting top 10 
repeated values and omitting other features'''

'here we do have lot number of categorial features which gives\nlot number of columns while soing onehot encoding which means\nwe need to follow another way which is'

In [100]:
#selecting top 10 repeated categorical values

top_10_x2=[x for x in df['X2'].value_counts().head(10).index]
top_10_x2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [99]:
df.X2.value_counts().index

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e', 'aq', 'ay', 'a',
       't', 'k', 'i', 'b', 'ao', 'ag', 'z', 'd', 'ac', 'g', 'ap', 'y', 'x',
       'aw', 'at', 'h', 'al', 'an', 'q', 'av', 'ah', 'p', 'au', 'am', 'j',
       'af', 'l', 'aa', 'c', 'o', 'ar'],
      dtype='object')

In [98]:
df.X2.value_counts()

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
al       5
an       5
q        5
av       4
ah       4
p        4
au       3
am       1
j        1
af       1
l        1
aa       1
c        1
o        1
ar       1
Name: X2, dtype: int64

In [101]:
top_10_x1=[x for x in df['X1'].value_counts().head(10).index]
top_10_x3=[x for x in df['X3'].value_counts().head(10).index]
top_10_x4=[x for x in df['X4'].value_counts().head(10).index]
top_10_x5=[x for x in df['X5'].value_counts().head(10).index]
top_10_x6=[x for x in df['X6'].value_counts().head(10).index]

In [102]:
top_10_x3

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [103]:
top_10_x1

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [104]:
top_10_x2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [105]:
top_10_x3

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [106]:
top_10_x4

['d', 'a', 'b', 'c']

In [107]:
top_10_x5

['w', 'v', 'q', 'r', 's', 'd', 'n', 'p', 'm', 'i']

In [108]:
top_10_x6

['g', 'j', 'd', 'i', 'l', 'a', 'h', 'k', 'c', 'b']

In [109]:
#replacing top10 rows with 1s and remaining with 0s

def one_hot_encoding(data,col,top10):
    for val in top10:
        df[col+'_'+val]=np.where(data[col]==val,1,0)

In [110]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [111]:
one_hot_encoding(df,'X2',top_10_x2)

In [112]:
df.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [116]:
one_hot_encoding(df,'X1',top_10_x2)
one_hot_encoding(df,'X3',top_10_x2)
one_hot_encoding(df,'X4',top_10_x2)
one_hot_encoding(df,'X5',top_10_x2)
one_hot_encoding(df,'X6',top_10_x2)

In [121]:
df.head(50)

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X6_as,X6_ae,X6_ai,X6_m,X6_ak,X6_r,X6_n,X6_s,X6_f,X6_e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,b,e,c,d,g,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,r,e,f,d,f,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,l,as,f,d,f,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,s,as,e,d,f,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,b,aq,c,d,f,a,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,r,r,f,d,f,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,r,e,f,d,f,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,b,ai,c,d,f,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,r,e,f,d,j,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,s,as,e,d,j,g,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,l,ak,f,d,j,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,r,e,f,d,j,h,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,aa,as,c,d,j,c,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,c,m,c,d,j,d,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,a,ak,f,d,j,i,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,s,m,c,d,j,j,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,aa,as,d,d,j,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,r,a,b,d,j,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,b,m,c,d,j,j,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,r,ak,d,d,j,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,s,m,c,d,j,i,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,l,as,f,d,j,g,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,aa,as,c,d,j,d,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,s,as,c,d,j,c,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,b,m,c,d,j,j,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
30,v,as,f,d,j,g,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,e,as,c,d,j,l,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,b,m,c,d,j,j,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
33,s,as,d,d,j,a,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,s,as,c,d,j,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,b,ai,c,d,j,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
36,l,as,f,d,j,g,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,v,k,d,d,j,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,v,as,f,d,j,g,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,s,as,c,d,j,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,l,as,f,d,j,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,h,ae,f,d,j,j,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
42,aa,ai,c,d,j,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
43,s,as,c,d,j,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,z,ai,c,d,j,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45,b,m,c,d,j,j,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
46,r,ai,f,d,j,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
47,aa,m,c,d,j,g,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
48,w,av,f,d,j,i,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,j,ai,b,d,j,d,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [124]:
#dropping top 6 columns
df.drop(columns=['X1','X2','X3','X4','X5','X6'],inplace=True)

In [125]:
df.head()

,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e,...,X6_as,X6_ae,X6_ai,X6_m,X6_ak,X6_r,X6_n,X6_s,X6_f,X6_e
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0