In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.groupby(['smoker','day'])['total_bill'].size()

smoker  day
Yes     Thur    17
        Fri     15
        Sat     42
        Sun     19
No      Thur    45
        Fri      4
        Sat     45
        Sun     57
Name: total_bill, dtype: int64

In [7]:
df.groupby('sex').total_bill.mean()

sex
Male      20.744076
Female    18.056897
Name: total_bill, dtype: float64

In [ ]:
df.dropna()