In [4]:
import pymysql

In [3]:
!pip install PyMySQL

Collecting PyMySQL
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Requirement already satisfied: PyMySQL in c:\users\894524\.conda\envs\ml\lib\site-packages (1.0.2)

In [5]:
import pandas as pd

In [6]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='tiger',db='topmentor')

In [14]:
pd.read_sql_query('select * from movie_sales where Movie_id=12',conn)

   Movie_id  Rating  Domestic_sales  International_sales
0        12     6.4       191452396            368400000

In [16]:
pd.read_sql_query('select * from movie_sales order by Movie_id',conn)

    Movie_id  Rating  Domestic_sales  International_sales
0          1     8.3       191796233            170162503
1          2     7.2       162798565            200600000
2          3     7.9       245852179            239163000
3          4     8.1       289916256            272900000
4          5     8.2       380843261            555900000
5          6     8.0       261441092            370001000
6          7     7.2       244082982            217900167
7          8     8.0       206445654            417277164
8          9     8.5       223808164            297503696
9         10     8.3       293004164            438338580
10        11     8.4       415004880            648167031
11        12     6.4       191452396            368400000
12        13     7.2       237283207            301700000
13        14     7.4       268492764            475066843