In [1]:
import pandas as pd

In [5]:
df=pd.read_excel("C:\\Users\\894524\\Downloads\\Patients.xlsx")
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

# Z test

In [6]:
#one sample z test

In [7]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\894524\appdata\roaming\python\python39\site-packages (1.7.1)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\894524\appdata\roaming\python\python39\site-packages (from scipy) (1.21.2)

In [8]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\894524\.conda\envs\ml\lib\site-packages (0.12.2)
Requirement already satisfied: patsy>=0.5 in c:\users\894524\.conda\envs\ml\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: scipy>=1.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from statsmodels) (1.7.1)
Requirement already satisfied: pandas>=0.21 in c:\users\894524\appdata\roaming\python\python39\site-packages (from statsmodels) (1.3.2)
Requirement already satisfied: numpy>=1.15 in c:\users\894524\appdata\roaming\python\python39\site-packages (from statsmodels) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: six in c:\users\894524\appdata\roaming\python\python39\site-packages (from patsy>=0.5->statsmodels) (1.16.0)

In [9]:
from statsmodels.stats import weightstats as stests

In [10]:
from scipy import stats

In [11]:
ztest,pval=stests.ztest(df['bp_before'],x2=None,value=156)

In [12]:
print(float(pval))

0.6651614730255063

In [13]:
if(pval<0.05):
    print("reject null hypothesis")
else:
    print("accept null hypothsesi")

accept null hypothsesi

In [14]:
ztest,pval1=stests.ztest(df['bp_before'],x2=df['bp_after'],value=0,alternative='two-sided')

In [15]:
print(float(pval1))

0.002162306611369422

In [16]:
if(pval<0.05):
    print("reject null hypothesis")
else:
    print("accept null hypothsesi")

accept null hypothsesi