In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [7]:
df=pd.read_csv("banknifty-data (1).csv",parse_dates=["datetime"])
df.head(10)

    datetime     open     high      low    close  volume
0 2006-01-02  4566.95  4601.35  4542.00  4556.25     0.0
1 2006-01-03  4531.45  4605.45  4531.45  4600.25     0.0
2 2006-01-04  4619.55  4707.60  4616.05  4694.14     0.0
3 2006-01-05  4714.20  4782.64  4670.55  4760.45     0.0
4 2006-01-06  4767.25  4802.80  4703.10  4755.60     0.0
5 2006-01-09  4758.10  4777.05  4676.10  4695.60     0.0
6 2006-01-10  4698.80  4724.85  4617.60  4629.10     0.0
7 2006-01-12  4629.64  4659.00  4592.00  4635.35     0.0
8 2006-01-13  4634.25  4672.14  4589.45  4602.55     0.0
9 2006-01-16  4602.95  4615.95  4533.80  4558.14     0.0

In [8]:
df.shape

(3448, 6)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448 entries, 0 to 3447
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  3448 non-null   datetime64[ns]
 1   open      3448 non-null   float64
 2   high      3448 non-null   float64
 3   low       3448 non-null   float64
 4   close     3448 non-null   float64
 5   volume    3448 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 161.8 KB

In [16]:
df1=pd.DataFrame(df.datetime.dt.year)
df1["Month"]=df.datetime.dt.month_name()
df1.head()

   datetime    Month
0      2006  January
1      2006  January
2      2006  January
3      2006  January
4      2006  January

In [17]:
df1.shape

(3448, 2)

In [18]:
df["Year"]=df.datetime.dt.year
df["Month"]=df.datetime.dt.month_name()
df.head()

    datetime     open     high      low    close  volume  Year    Month
0 2006-01-02  4566.95  4601.35  4542.00  4556.25     0.0  2006  January
1 2006-01-03  4531.45  4605.45  4531.45  4600.25     0.0  2006  January
2 2006-01-04  4619.55  4707.60  4616.05  4694.14     0.0  2006  January
3 2006-01-05  4714.20  4782.64  4670.55  4760.45     0.0  2006  January
4 2006-01-06  4767.25  4802.80  4703.10  4755.60     0.0  2006  January

# 1) Approach - 1

In [19]:
df['mon_perc_ret']=(df.close-df.open)/df.open
df.head()

,datetime,open,high,low,close,volume,Year,Month,mon_perc_ret
0,2006-01-02,4566.95,4601.35,4542.00,4556.25,0.0,2006,January,-0.002343
1,2006-01-03,4531.45,4605.45,4531.45,4600.25,0.0,2006,January,0.015183
2,2006-01-04,4619.55,4707.60,4616.05,4694.14,0.0,2006,January,0.016147
3,2006-01-05,4714.20,4782.64,4670.55,4760.45,0.0,2006,January,0.009811
4,2006-01-06,4767.25,4802.80,4703.10,4755.60,0.0,2006,January,-0.002444

In [20]:
df_copy=df.copy()

In [21]:
df_copy.head()

,datetime,open,high,low,close,volume,Year,Month,mon_perc_ret
0,2006-01-02,4566.95,4601.35,4542.00,4556.25,0.0,2006,January,-0.002343
1,2006-01-03,4531.45,4605.45,4531.45,4600.25,0.0,2006,January,0.015183
2,2006-01-04,4619.55,4707.60,4616.05,4694.14,0.0,2006,January,0.016147
3,2006-01-05,4714.20,4782.64,4670.55,4760.45,0.0,2006,January,0.009811
4,2006-01-06,4767.25,4802.80,4703.10,4755.60,0.0,2006,January,-0.002444

In [25]:
df1['mon_perc_ret']=df['mon_perc_ret']
df1.head()

   datetime    Month  mon_perc_ret
0      2006  January     -0.002343
1      2006  January      0.015183
2      2006  January      0.016147
3      2006  January      0.009811
4      2006  January     -0.002444

In [34]:
df1.groupby(['datetime','Month'])['mon_perc_ret'].mean()

datetime  Month
2006      April       -0.001505
          August       0.004003
          December    -0.005083
          February    -0.000093
          January      0.000162
                         ...
2019      March        0.004717
          May         -0.000069
          November     0.001512
          October     -0.002030
          September    0.002340
Name: mon_perc_ret, Length: 168, dtype: float64

In [38]:
pd.to_datetime(df['datetime'], format='%m-%Y')

0      2006-01-02
1      2006-01-03
2      2006-01-04
3      2006-01-05
4      2006-01-06
          ...
3443   2019-12-18
3444   2019-12-19
3445   2019-12-20
3446   2019-12-23
3447   2019-12-24
Name: datetime, Length: 3448, dtype: datetime64[ns]

In [35]:
df.datetime

0      2006-01-02
1      2006-01-03
2      2006-01-04
3      2006-01-05
4      2006-01-06
          ...
3443   2019-12-18
3444   2019-12-19
3445   2019-12-20
3446   2019-12-23
3447   2019-12-24
Name: datetime, Length: 3448, dtype: datetime64[ns]

In [39]:
pd.to_datetime(df.datetime.dt.year)

0      1970-01-01 00:00:00.000002006
1      1970-01-01 00:00:00.000002006
2      1970-01-01 00:00:00.000002006
3      1970-01-01 00:00:00.000002006
4      1970-01-01 00:00:00.000002006
                    ...
3443   1970-01-01 00:00:00.000002019
3444   1970-01-01 00:00:00.000002019
3445   1970-01-01 00:00:00.000002019
3446   1970-01-01 00:00:00.000002019
3447   1970-01-01 00:00:00.000002019
Name: datetime, Length: 3448, dtype: datetime64[ns]

In [40]:
!pip install spacy

Collecting spacy
  Downloading spacy-3.2.1-cp39-cp39-win_amd64.whl (11.8 MB)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.6-cp39-cp39-win_amd64.whl (36 kB)
Collecting blis<0.8.0,>=0.4.0
  Downloading blis-0.7.5-cp39-cp39-win_amd64.whl (6.6 MB)
Collecting thinc<8.1.0,>=8.0.12
  Downloading thinc-8.0.13-cp39-cp39-win_amd64.whl (1.0 MB)
Collecting wasabi<1.1.0,>=0.8.1
  Downloading wasabi-0.9.0-py3-none-any.whl (25 kB)
Collecting spacy-legacy<3.1.0,>=3.0.8
  Downloading spacy_legacy-3.0.8-py2.py3-none-any.whl (14 kB)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.6-cp39-cp39-win_amd64.whl (21 kB)
Collecting typer<0.5.0,>=0.3.0
  Downloading typer-0.4.0-py3-none-any.whl (27 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from spacy) (4.62.2)
Collecting catalogue<2.1.0,>=2.0.6
  Downloading catalogue-2.0.6-py3-none-any.whl (17 kB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.6-cp39-cp39-win_amd64.whl (112 kB)
Requirement already satisfied: setuptools in c:\users\894524\.conda\envs\ml\lib\site-packages (from spacy) (58.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from spacy) (21.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from spacy) (2.26.0)
Requirement already satisfied: numpy>=1.15.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from spacy) (1.21.2)
Collecting pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4
  Using cached pydantic-1.8.2-cp39-cp39-win_amd64.whl (1.9 MB)
Collecting pathy>=0.3.5
  Downloading pathy-0.6.1-py3-none-any.whl (42 kB)
Collecting spacy-loggers<2.0.0,>=1.0.0
  Downloading spacy_loggers-1.0.1-py3-none-any.whl (7.0 kB)
Collecting langcodes<4.0.0,>=3.2.0
  Downloading langcodes-3.3.0-py3-none-any.whl (181 kB)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.2-cp39-cp39-win_amd64.whl (451 kB)
Requirement already satisfied: jinja2 in c:\users\894524\appdata\roaming\python\python39\site-packages (from spacy) (3.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\894524\appdata\roaming\python\python39\site-packages (from packaging>=20.0->spacy) (2.4.7)
Collecting smart-open<6.0.0,>=5.0.0
  Downloading smart_open-5.2.1-py3-none-any.whl (58 kB)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\894524\appdata\roaming\python\python39\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\894524\appdata\roaming\python\python39\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.6)
Requirement already satisfied: colorama in c:\users\894524\.conda\envs\ml\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from jinja2->spacy) (2.0.1)
Installing collected packages: murmurhash, cymem, catalogue, wasabi, typer, srsly, smart-open, pydantic, preshed, blis, thinc, spacy-loggers, spacy-legacy, pathy, langcodes, spacy
Successfully installed blis-0.7.5 catalogue-2.0.6 cymem-2.0.6 langcodes-3.3.0 murmurhash-1.0.6 pathy-0.6.1 preshed-3.0.6 pydantic-1.8.2 smart-open-5.2.1 spacy-3.2.1 spacy-legacy-3.0.8 spacy-loggers-1.0.1 srsly-2.4.2 thinc-8.0.13 typer-0.4.0 wasabi-0.9.0

In [1]:
import spacy

# load english language model
nlp = spacy.load('en_core_web_sm',disable=['ner','textcat'])

text = "This is a sample sentence."

# create spacy 
doc = nlp(text)

for token in doc:
    print(token.text,'->',token.pos_)

OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a Python package or a valid path to a data directory.

In [60]:
t="hello howare u.where hello you are"

In [43]:
import re

In [50]:
regex = re.compile("hell*are")
re.findall(regex,t)

[]

In [71]:
re.(r'hell*are$', t)

[]

In [3]:
a=4 and 0 or 3

In [4]:
print(a)

3

In [5]:
3/2

1.5

In [7]:
a=[1,2,33,3]

In [11]:
rangee=6
for j in range(rangee // 2, -1, -1):
    print(j)

3
2
1
0

In [12]:
a

[1, 2, 33, 3]

In [ ]:
a[:]